{
    "data": {
        "host": "localhost",
        "database": "t30",
        "username": "t30",
        "password": "secret"
    },
    "guard": {
        "host": "localhost",
        "database": "t30",
        "username": "t30",
        "password": "secret"
    }
}